*.sif
*.ipynb_checkpoints
*.json
*.log 
*.RData

/association_studies/03b_prs_calculation_100_iter_large_set_predictors_beep_change.out
/association_studies/03b_prs_calculation_100_iter_large_set_predictors_distance_change.out
/association_studies/03b_prs_calculation_100_iter_large_set_predictors_vo2_change.out
/association_studies/03b_prs_calculation_100_iter_large_set_predictors_weight_change.out
/association_studies/03b_prs_calculation_100_iter_small_set_predictors_beep_change.out
/association_studies/03b_prs_calculation_100_iter_small_set_predictors_distance_change.out
/association_studies/03b_prs_calculation_100_iter_small_set_predictors_vo2_change.out
/association_studies/03b_prs_calculation_100_iter_small_set_predictors_weight_change.out


association_studies/scripts/production_scripts/slurm_files/
australian_army_bishop.code-workspace
hrc_panel_versions/
admixture_versions/
evalAdmix_versions/
/.vscode/
/association_studies/results/
/association_studies/data/
/association_studies/literature/
/quality_control/data
/quality_control/literature
/plink_versions
/eigensoft_versions
/ldak_versions
/scripts_sent_to_dale